@model ActivityOrganizer.Models.SpecialActivity

@{
    ViewData["Title"] = "Edit";
}

<h1>@Html.DisplayFor(model => model.ActivityName)</h1>

<h4>Edit</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="ActivityName" class="control-label"></label>
                <input asp-for="ActivityName" class="form-control" />
                <span asp-validation-for="ActivityName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateAdded" class="control-label"></label>
                <input asp-for="DateAdded" class="form-control" />
                <span asp-validation-for="DateAdded" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateFinish" class="control-label"></label>
                <input asp-for="DateFinish" class="form-control" />
                <span asp-validation-for="DateFinish" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TypeOfActivity" class="control-label"></label>
                <input asp-for="TypeOfActivity" class="form-control" />
                <span asp-validation-for="TypeOfActivity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ActivityPriority" class="control-label"></label>
                <input asp-for="ActivityPriority" class="form-control" />
                <span asp-validation-for="ActivityPriority" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="text-yellow">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
