@{
    ViewData["Title"] = "Privacy";
}

<br/><br /><br /><br />

<h2 class="text-center">All privacy rights reserved xD</h2>

<hr/>
<br/><br /><br /><br />

<h3 class="text-center">We keep your data safe!</h3>
<hr/>