html {
    font-size: 16px;
    position: relative;
    min-height: 100%;
    overflow-x: hidden;
}

body {
    margin: 0;
    height: 100%;
    width: 100%;
    position: relative; 
    background-image: url(images/sky3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.text-white          { color: ghostwhite        }

.selectListAll       { margin-left: 43vh;       }
.selectListAll:hover { cursor: pointer          }
.inputName           { width: 36vh !important;  }

.searchButton        { 
    margin-left: 3vh;                         
    border: 2px solid lightblue;
    background-color: ghostwhite;
    font-weight: 600;
}

.searchButton:active{    
    background-color:  #d9d9d9 !important;    
    font-weight: 600;
}

.searchButton:hover {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
} 

header a:hover  { opacity: 0.7;      }
.margin-left-50 { margin-left: 50vh; }

td a,
td { color: ghostwhite !important;   }

th,
tr{ 
    border-top: 2px solid black !important;
    border-bottom: 2px solid black !important;
}

td {
    border-top: 2px solid black !important;
    border-top: 2px solid black !important;
}

th{
    font-size: 1.3vw;
    font-weight: bold;
    color: greenyellow;
}

dl,
h1,
h2,
h3,
h4 { color: ghostwhite; }


.form-group  { color: ghostwhite;           }
.text-yellow { color: yellow !important;    }    
.form-control{ background-color: #d9d9d9;   }

.back-to-list{ 
    text-decoration: underline;  
    margin-top: 5vh;
}

hr { background-color: ghostwhite !important; }


.fancy-color {
    font-size: 2vw;
    color: #00ffff !important;
    font-weight: bold;
}